<header>
  <div class="container">
    <div class="row">
      <h1>Course Details</h1>
    </div>
  </div>
</header>

<section class="course_det">
  <div class="container">
    <div class="row justify-content-around flex-column flex-lg-row flex-md-row align-items-center">
      <div class="col-sm-12 col-md-10 col-lg-8 col-10 mb-3">
        <div class="row flex-column flex-lg-row  flex-md-row justify-content-center align-items-center mb-4">
          <div class="course_img col-sm-10 col-md-8 col-lg-5 text-center col-10 mb-2">
            <img src="../../assets/web front c 3.png" alt="">
            <h2>Java Script</h2>
          </div>
          <hr class="d-lg-none d-sm-block d-md-block ">
          <div class="course_info col-sm-10 col-md-8 col-lg-5 col-10 mb-2 mt-2">
            <h4>Course Info</h4>
            <div class="course_info_det">
              <p><span class="info_titel">Course Name : </span> Java Script</p><hr>
              <p><span class="info_titel">Duration : </span> 40h 30m</p><hr>
              <p><span class="info_titel">Lessons : </span> 60</p><hr>
              <p><span class="info_titel">Skill Level : </span> Beginner</p>
            </div>
            <!-- <button class="buy_btn">Buy Now</button> -->
        </div>
        <hr class="d-lg-none d-sm-block d-md-block ">
        </div>
        <hr class="d-lg-block d-sm-none d-md-none ">
        <div class="row det_info flex-sm-row flex-lg-row flex-md-row flex-column">
        <div class="col dep ">
          <h6>Lecturer</h6>
          <p><i class="fa-solid fa-user-graduate"></i>Elomda Sultan</p>
        </div>
        <div class="col dep">
          <h6>Department</h6>
          <p><i class="fa-brands fa-codepen"></i>Web Development</p>
        </div>
        <div class="col dep">
          <h6>Rating</h6>
          <p class="rating"><i class="fa-solid fa-star"></i>4.5</p>
        </div>
        <div class="col dep">
          <h6>Price</h6>
          <p><i class="fa-solid fa-dollar-sign"></i>50</p>
        </div>
        </div>
        <hr class="d-lg-block d-sm-none d-md-none ">
        <div class="row description">
          <h3>Course Description<hr></h3>
          <p>JavaScript is a scripting or programming language that allows
            you to implement complex features on web pages — every
            time a web page does more than just sit there and display static
            information for you to look at — displaying timely
            content updates, interactive maps, animated 2D/3D graphics,
            scrolling video jukeboxes, etc. — you can bet that
            JavaScript is probably involved. It is the third layer of the
            layer cake of standard web technologies, two of which
            (HTML and CSS) we have covered in much more detail in other parts
            of the Learning Area.</p>
        </div>
        <hr>
        <div class="row lecturer_det flex-column flex-lg-row flex-md-row align-items-center justify-content-around ">
          <h3>Lecturer</h3><hr>
          <div class="col-lg-6 col-md-6 col-sm-10 lecturer_det_img" >
          </div>
          <div class="col-lg-6 col-md-6 col-sm-10 lecturer_det_info">
            <h4>Elomda Sultan</h4>
            <p>Web Developer and Designer and Teacher in Web Development Courses in Egypt and the Middle East and Online Courses</p>
            <div class="social_icon">
              <i class="fa-brands fa-facebook"></i>
              <i class="fa-brands fa-twitter"></i>
              <i class="fa-brands fa-linkedin"></i>
              <i class="fa-brands fa-instagram"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-3 col-10">
        <div class="row serch">
          <div class="serch_course">
            <h4>Search</h4>
            <input type="text" id="search" placeholder="Search Course">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
          </div>
          <div class="search_links">
            <h4>Courses</h4>
            <p><a>Web Development</a> <span>6</span></p><hr>
            <p><a>Gaming</a> <span>3</span></p><hr>
            <p><a>AI</a> <span>5</span></p><hr>
            <p><a>Mobile Development</a> <span>3</span></p>
          </div>
        </div>
        <div class="row related_course">
          <h4>Related Courses</h4>
          <div class="mor_course">
            <img src="../../assets/web front c 1.png" alt="..">
            <a>HTML </a>
          </div>
          <div class="mor_course">
            <img src="../../assets/web front c 2.png" alt="..">
            <a>CSS </a>
          </div>
          <div class="mor_course">
            <img src="../../assets/web front c 4.png" alt="..">
            <a>Bootstrap </a>
          </div>
        </div>
        <div class="row more_courses align-items-center">
          <h4>More Courses</h4>
          <a>Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="add">
  <div class="container">
    <div class="row justify-content-center align-items-center flex-row">
      <h2 class="section_title text-center">BUY | ADD Course</h2>
      <div class="col-sm-8  col-md-5 col-lg-6 col-8 text-center">
        <button class="buy_btn me-2">Buy Now<i class="fa-solid fa-plus"></i></button>
        <button class="add_btn">ADD To <i class="fa-solid fa-heart"></i></button>
      </div>
    </div>
  </div>
</section>

<section class="related">
  <div class="container">
    <div class="row justify-content-lg-around justify-content-center flex-column flex-sm-row">
      <form class="col-lg-5 col-md-8 col-sm-10 col-11">
        <h2>Review Course</h2>
        <div class="col-12 mb-4">
          <input type="text" id="name" class="form-control" placeholder="Enter Your Name">
        </div>
        <div class="col-12 mb-4">
          <input type="email" id="email" class="form-control" placeholder="Enter Your Email">
        </div>
        <div class="col-12 mb-4">
          <textarea name="message" id="message" class="form-control" placeholder="Enter Your Review"></textarea>
        </div>
        <div class="col-12 mb-4 rat">
          <label for="rating" class="form-label">Rating *</label>
          <i class="{{value1}} fa-star" (mouseover)="isHover(1)"></i>
          <i class="{{value2}} fa-star" (mouseover)="isHover(2)"></i>
          <i class="{{value3}} fa-star" (mouseover)="isHover(3)"></i>
          <i class="{{value4}} fa-star" (mouseover)="isHover(4)"></i>
          <i class="{{value5}} fa-star" (mouseover)="isHover(5)"></i>
        </div>
        <div class="col-12">
          <input type="submit" value="Submit" class="submit_btn">
        </div>
      </form>
      <div class="col-lg-5 col-md-8 col-sm-10 col-11 rev_img d-none d-lg-block">
      </div>
    </div>
  </div>
</section>
