<footer *ngIf="show()">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-3 col-md-5 col-sm-10 col-10 text-center ">
        <img src="../../assets/logo.jpg" alt="" width="140px">
        <div class="social">
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
          <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-5 col-sm-6 col-10">
        <h5 class="one">Our Courses</h5>
        <ul>
          <li><a href="#">Web Development</a></li>
          <li><a href="#">Mobile Development</a></li>
          <li><a href="#">Gaming</a></li>
          <li><a href="#">AI</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-5 col-sm-6 col-10">
        <h5 class="two">Contact</h5>
        <ul>
          <li><i class="fa-solid fa-location-dot me-2"></i><a href="#">Assuit, Egypt</a></li>
          <li><i class="fa-solid fa-phone me-2"></i><a href="#">+91 1234567890</a></li>
          <li><i class="fa-solid fa-envelope me-2"></i><a href="#">elomdasultan@gmail.com</a></li>
        </ul>
      </div>
    </div>
    <hr class="text-light">
    <div class="row pb-2">
      <h4 class="text-light text-center"> &copy; Study Coding All Rights Reserved</h4>
    </div>
  </div>
</footer>

