<section class="about">
  <div class="container">
    <h1 class="text-center">About Us</h1>
    <div class="row justify-content-around align-items-center">
      <div class=" col-lg-5 img d-none d-lg-block">
        <!-- <img src="../../assets/about.jpg" alt=""> -->
      </div>
      <div class="col-sm-10 col-md-8 col-lg-5 about_det">
        <h4>Why You Learn With Us</h4>
        <p>we are here to help you learn all new technologies and build your career with us</p>
        <ul>
          <li><i class="fa-solid fa-check"></i> 100% Secure</li>
          <li><i class="fa-solid fa-check"></i> 24/7 Support</li>
          <li><i class="fa-solid fa-check"></i> 100% Responsive</li>
          <li><i class="fa-solid fa-check"></i> 100% Customizable</li>
        </ul>
        <a routerLink="/home" >our courses</a>
      </div>
    </div>
  </div>
</section>
